@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    @apply text-center text-4xl my-8;
  }
  .heart {
    cursor: pointer;
    height: 70px;
    width: 70px;
    background-image: url("https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 2900%;
  }
  .heart:hover {
    background-position: right;
  }
  .heart.liked {
    background-position: right;
  }
  .liking {
    animation: heart-burst 0.8s steps(28) 1;
  }

  @keyframes heart-burst {
    from {
      background-position: left;
    }
    to {
      background-position: right;
    }
  }
}
